.ChatOption {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 1ch;
  padding-left: 3ch;
  box-sizing: border-box; /* ✅ Prevents overflow from padding */
  overflow: hidden;
}

.ChatOption:hover {
  background-color: #1a1a1a;
  transition: 0.3s;
  cursor: pointer;
}

.ChatOptionName p,
.ChatOptionMessage p {
  margin: 0;
  font-size: small;
  font-weight: bold;
}

.ChatOption.opened p {
  font-weight: normal;
  color: #828282;
}

.ChatOptionPicture {
  height: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.ChatOptionPicture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.ChatOptionUnreadIcon {
  color: #0095f6;
  margin-left: auto;
  display: flex;
  align-items: center;
  padding-right: 2ch;
}
