@font-face {
  font-family: "Poppins";
  src: url("../assets/font/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Instagram";
  src: url("../assets/font/instagram/Instagram.ttf");
}

.Title {
  align-items: center;
  height: 10vh;
}

.NavbarComponent {
  padding-left: 1ch;
  margin-right: 1ch;
  display: flex;
  align-items: center;
}

.NavbarComponent.active p {
  font-weight: 900;
}

p {
  color: white;
  padding-left: 16px;
  font-family: "Poppins";
}

h2 {
  color: white;
  font-family: "Instagram";
}

.icon {
  color: white;
  width: 24px;
  height: 24px;
}

.NavbarComponent:hover {
  background-color: #1a1a1a;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}
