.UserContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.Icon {
  color: white;
  width: 30px;
  height: 30px;
}

.More {
  margin-left: auto;
  display: flex;
}
