.UserContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.userName {
  font-weight: bold;
}

.Icon {
  color: white;
  width: 30px;
  height: 30px;
}

.More {
  margin-left: auto;
  display: flex;
}

.ReactionsContainer {
  padding-top: 1.2ch;
}

.IconReaction {
  padding-right: 2ch;
  color: white;
  width: 30px;
  height: 30px;
}

.Description {
  display: flex;
}

.DescriptionText {
  text-align: justify;
  font-size: small;
}

.Author {
  font-weight: bold;
  margin-left: 0;
  padding-left: 0;
}

.Likes {
  font-weight: bold;
  margin-left: 0;
  padding-left: 0;
  height: fit-content;
  margin-bottom: 0;
}
